
 
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Inter', 'Montserrat', 'Raleway', 'Urbanist', sans-serif;
    box-sizing: border-box;
   
  
}

body{
    background-color: #0D1117;
}
 