
 
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Inter', 'Montserrat', 'Raleway', 'Urbanist', sans-serif;
    box-sizing: border-box;
   
  
}

body{
    background-color: #e1e7ee;
}
 
.testing{
    display: flex;
    video{
        width: 800px;

    }
}